work/
_xmsgs/
*#
*.bgn
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.lst
*.map
*.mrp
*.ncd
*.ncf
*.ngc
*.ngd
*.ngm
*.ngr
*.pad
*.par
*.pcf
*.prj
*.projectmgr
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xbcd
*.xpi
*.xreport
*.xrpt
*.xst
*~
System*.csv
System*.html
System*.txt
System*.xml
webtalk_pn.xml
src/*.in
src/*.result
src/*wlf*
src/CPU_sim.vhd
src/memory.dat
src/transcript
test/*.bin
test/*.code.txt
test/*.coe
test/*.dat
test/*.exe
test/*.o
test/*.out
test/*.result.txt
