NET "clk0" LOC = B8;
NET "clk1" LOC = B9;
NET "clk_key" LOC = U9;
NET "rst" LOC = U10;

NET "key[0]" LOC = U11;
NET "key[1]" LOC = U14;
NET "key[2]" LOC = V14;
NET "key[3]" LOC = V16;

NET "switch[0]" LOC = T7;
NET "switch[1]" LOC = R7;
NET "switch[2]" LOC = U8;
NET "switch[3]" LOC = V4;
NET "switch[4]" LOC = V3;
NET "switch[5]" LOC = V2;
NET "switch[6]" LOC = U1;
NET "switch[7]" LOC = R4;
NET "switch[8]" LOC = R1;
NET "switch[9]" LOC = N2;
NET "switch[10]" LOC = N1;
NET "switch[11]" LOC = M1;
NET "switch[12]" LOC = K7;
NET "switch[13]" LOC = K2;
NET "switch[14]" LOC = J7;
NET "switch[15]" LOC = J6;

NET "led[0]" LOC = D10;
NET "led[1]" LOC = E10;
NET "led[2]" LOC = A11;
NET "led[3]" LOC = B11;
NET "led[4]" LOC = C11;
NET "led[5]" LOC = D11;
NET "led[6]" LOC = E11;
NET "led[7]" LOC = F11;
NET "led[8]" LOC = A12;
NET "led[9]" LOC = E12;
NET "led[10]" LOC = F12;
NET "led[11]" LOC = A13;
NET "led[12]" LOC = B13;
NET "led[13]" LOC = D13;
NET "led[14]" LOC = E13;
NET "led[15]" LOC = A14;

NET "seg7_l[0]" LOC = F8;
NET "seg7_l[1]" LOC = E8;
NET "seg7_l[2]" LOC = A8;
NET "seg7_l[3]" LOC = F7;
NET "seg7_l[4]" LOC = E7;
NET "seg7_l[5]" LOC = D7;
NET "seg7_l[6]" LOC = C7;

NET "seg7_r[0]" LOC = B10;
NET "seg7_r[1]" LOC = A10;
NET "seg7_r[2]" LOC = G9;
NET "seg7_r[3]" LOC = F9;
NET "seg7_r[4]" LOC = E9;
NET "seg7_r[5]" LOC = D9;
NET "seg7_r[6]" LOC = C9;

NET "com_ready" LOC = A16;
NET "com_rdn" LOC = C14;
NET "com_wrn" LOC = U5;
NET "com_tbre" LOC = D14;
NET "com_tsre" LOC = N9;

NET "ram1_addr[0]" LOC = C17;
NET "ram1_addr[1]" LOC = C18;
NET "ram1_addr[2]" LOC = D16;
NET "ram1_addr[3]" LOC = D17;
NET "ram1_addr[4]" LOC = E15;
NET "ram1_addr[5]" LOC = E16;
NET "ram1_addr[6]" LOC = F14;
NET "ram1_addr[7]" LOC = F15;
NET "ram1_addr[8]" LOC = F17;
NET "ram1_addr[9]" LOC = F18;
NET "ram1_addr[10]" LOC = G13;
NET "ram1_addr[11]" LOC = G14;
NET "ram1_addr[12]" LOC = G15;
NET "ram1_addr[13]" LOC = G16;
NET "ram1_addr[14]" LOC = H14;
NET "ram1_addr[15]" LOC = H15;
NET "ram1_addr[16]" LOC = H16;
NET "ram1_addr[17]" LOC = H17;
NET "ram1_data[0]" LOC = J12;
NET "ram1_data[1]" LOC = J13;
NET "ram1_data[2]" LOC = J14;
NET "ram1_data[3]" LOC = J15;
NET "ram1_data[4]" LOC = J16;
NET "ram1_data[5]" LOC = J17;
NET "ram1_data[6]" LOC = K12;
NET "ram1_data[7]" LOC = K13;
NET "ram1_data[8]" LOC = K14;
NET "ram1_data[9]" LOC = K15;
NET "ram1_data[10]" LOC = L15;
NET "ram1_data[11]" LOC = L16;
NET "ram1_data[12]" LOC = L17;
NET "ram1_data[13]" LOC = L18;
NET "ram1_data[14]" LOC = M13;
NET "ram1_data[15]" LOC = M14;

NET "ram2_addr[0]" LOC = N14;
NET "ram2_addr[1]" LOC = N15;
NET "ram2_addr[2]" LOC = N18;
NET "ram2_addr[3]" LOC = P16;
NET "ram2_addr[4]" LOC = P17;
NET "ram2_addr[5]" LOC = P18;
NET "ram2_addr[6]" LOC = R15;
NET "ram2_addr[7]" LOC = R16;
NET "ram2_addr[8]" LOC = R18;
NET "ram2_addr[9]" LOC = T17;
NET "ram2_addr[10]" LOC = T18;
NET "ram2_addr[11]" LOC = U18;
NET "ram2_addr[12]" LOC = V15;
NET "ram2_addr[13]" LOC = V13;
NET "ram2_addr[14]" LOC = V12;
NET "ram2_addr[15]" LOC = V9;
NET "ram2_addr[16]" LOC = U16;
NET "ram2_addr[17]" LOC = U15;
NET "ram2_data[0]" LOC = U13;
NET "ram2_data[1]" LOC = T16;
NET "ram2_data[2]" LOC = T15;
NET "ram2_data[3]" LOC = T14;
NET "ram2_data[4]" LOC = T12;
NET "ram2_data[5]" LOC = R13;
NET "ram2_data[6]" LOC = R14;
NET "ram2_data[7]" LOC = R12;
NET "ram2_data[8]" LOC = R11;
NET "ram2_data[9]" LOC = R10;
NET "ram2_data[10]" LOC = P13;
NET "ram2_data[11]" LOC = P12;
NET "ram2_data[12]" LOC = P11;
NET "ram2_data[13]" LOC = P10;
NET "ram2_data[14]" LOC = N12;
NET "ram2_data[15]" LOC = N11;

NET "ram1_en" LOC = M15;
NET "ram1_oe" LOC = M16;
NET "ram1_rw" LOC = M18;
NET "ram2_en" LOC = N10;
NET "ram2_oe" LOC = R9;
NET "ram2_rw" LOC = M9;

NET "flash_data[0]" LOC = J5;
NET "flash_data[1]" LOC = J4;
NET "flash_data[2]" LOC = J2;
NET "flash_data[3]" LOC = J1;
NET "flash_data[4]" LOC = H6;
NET "flash_data[5]" LOC = H5;
NET "flash_data[6]" LOC = H4;
NET "flash_data[7]" LOC = H3;
NET "flash_data[8]" LOC = H2;
NET "flash_data[9]" LOC = H1;
NET "flash_data[10]" LOC = G6;
NET "flash_data[11]" LOC = G5;
NET "flash_data[12]" LOC = G4;
NET "flash_data[13]" LOC = G3;
NET "flash_data[14]" LOC = F2;
NET "flash_data[15]" LOC = F1;

NET "flash_addr[0]" LOC = T2;
NET "flash_addr[1]" LOC = T1;
NET "flash_addr[2]" LOC = R3;
NET "flash_addr[3]" LOC = R2;
NET "flash_addr[4]" LOC = P4;
NET "flash_addr[5]" LOC = P3;
NET "flash_addr[6]" LOC = P2;
NET "flash_addr[7]" LOC = P1;
NET "flash_addr[8]" LOC = N5;
NET "flash_addr[9]" LOC = N4;
NET "flash_addr[10]" LOC = M6;
NET "flash_addr[11]" LOC = M5;
NET "flash_addr[12]" LOC = M4;
NET "flash_addr[13]" LOC = M3;
NET "flash_addr[14]" LOC = L6;
NET "flash_addr[15]" LOC = L5;
NET "flash_addr[16]" LOC = L4;
NET "flash_addr[17]" LOC = L3;
NET "flash_addr[18]" LOC = L2;
NET "flash_addr[19]" LOC = L1;
NET "flash_addr[20]" LOC = K6;
NET "flash_addr[21]" LOC = K5;
NET "flash_addr[22]" LOC = K4;

NET "flash_byte" LOC = C1;
NET "flash_vpen" LOC = C2;
NET "flash_ce" LOC = E4;
NET "flash_oe" LOC = E1;
NET "flash_we" LOC = D4;
NET "flash_rp" LOC = D1;

